html, body {
  height: 100%;
  margin: 0;
}

header {
  background-color: #f8f9fa; 
}

aside, article {
  background-color: #ffffff; 
}

main, aside {
  padding: 10px;
}

footer {
  padding-top: 3rem;
}
